@font-face {
  font-family: "Medium";
  src: local("HankenGrotesk-Medium"),
    url("./assets//fonts/HankenGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("HankenGrotesk-Bold"),
    url("./assets//fonts/HankenGrotesk-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraBold";
  src: local("HankenGrotesk-ExtraBold"),
    url("./assets//fonts/HankenGrotesk-ExtraBold.ttf") format("truetype");
}

* {
  font-family: "Medium", serif;
}
